body{
	background-image: url(img/mr3.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}

#t2{
	margin-top: 11%;
	color: #00FF00;

/*#slides {
    position: relative;
    height: 100px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 10%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.showing {
    opacity: 1;
    z-index: 2;
}

.slide {
    font-size: 10px;
    padding: 10px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}
.slide:nth-of-type(1) {
    background: red;
}
.slide:nth-of-type(2) {
    background: orange;
}
.slide:nth-of-type(3) {
    background: green;
}
.slide:nth-of-type(4) {
    background: blue;
}
.slide:nth-of-type(5) {
    background: purple;
}*/


#dn {

  color: #00FF00;
  margin-left:600px;
}



}

.Button-wrapper{
	position:relative;
}

.Button:hover{
	box-shadow: 0 8px 65px -5px #00FA9A;
}

#t1{
	color: #9ACD32;
}

.Button{
	letter-spacing: 2px;
	font-size: 17px;
	line-height: 58px;
	text-transform: uppercase;
	background: #5F9EA0;
	color: #FFFAFA;
	border: none;
	border-radius: 10px;
	min-width: 20px;
	padding: 0 24px;
	box-shadow: 0 20px 60px -10px #2F4F4F;
	cursor: pointer;
	transform: perspective(250px) scale3d(1,1,1);
	transition: all 1s cubic-bezier(0.03, 0.98, 0.52, 0.99);
	outline: none;
}


.Button-wrapper2{
	position:relative;
}

.Button2:hover{
	box-shadow: 0 8px 65px -5px #4B0082;
}

.Button2{
	letter-spacing: 2px;
	font-size: 22px;
	line-height: 68px;
	text-transform: uppercase;
	background: #7B68EE;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	min-width: 200px;
	padding: 0 24px;
	box-shadow: 0 20px 60px -10px #4169E1;
	cursor: pointer;
	transform: perspective(250px) scale3d(1,1,1);
	transition: all 1s cubic-bezier(0.03, 0.98, 0.52, 0.99);
	outline: none;
}

